<%= form_with(model: [@user, @user.tweets.build], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_area :body, :class => "form-control" %>
  </div>
  <div class="form-group">
    <p class="text-right"><%= form.submit :class => "btn btn-info btn-sm" %></p>
  </div>
<% end %>