<% tweet.hash_tags.each do |hashtag| %>
  <% tweet.body.sub! hashtag.name, link_to( hashtag.name,hash_tag_path(hashtag), :class => "text-info") %>
<% end %>

<div class="card mb-3">
  <div class="card-body">
    <%= simple_format(tweet.body, :class=>"mb-0") %>

    <p class="text-right mb-0 font-weight-bold"><%= link_to(tweet.user.name, user_path(tweet.user), :class => "") %></p>

    <!--      <p class="text-right mb-0"><%#= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, [tweet.user, tweet], method: :delete, data: {confirm: 'Are you sure ?'}, class: "btn btn-info btn-sm" %></p>-->

  </div>
</div>