<div class="col-9">
  <div class="row bg-white">
    <div class="col-12 p-3">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <h5 class="text-center">My Tweets</h5>

      <div class="col-12">
        <%= render 'tweets/form' %>
      </div>


      <% if @user_tweets.count > 0 %>
        <% @user_tweets.each do |tweet| %>
          <% tweet.hash_tags.each do |hashtag| %>
            <% tweet.body.sub! hashtag.name, link_to( hashtag.name,hash_tag_path(hashtag), :class => "text-info") %>
          <% end %>

          <div class="card mb-3">
            <div class="card-body">
              <%= simple_format(tweet.body, :class => "mb-0") %>
              <p class="text-right mb-0"><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, [tweet.user, tweet], method: :delete, data: {confirm: 'Are you sure ?'}, class: "btn btn-info btn-sm" %></p>
            </div>
          </div>
        <% end %>

      <% else %>

        <p>You have no tweets!</p>
      <% end %>
      <%= link_to 'Back', @user, :class => "btn btn-outline-secondary mt-2" %>
    </div>
  </div>
</div>


