<%= form_with(model: user, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :name %>

    <% if user.errors.include?(:name)
         bootstrapclass = "is-invalid"
       else
         bootstrapclass = ""
       end
    %>

    <%= form.text_field :name, :class => "form-control " + bootstrapclass, :placeholder => :name %>

    <% if user.errors.include?(:name) %>
      <% user.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :email %>

    <% if user.errors.include?(:email)
         bootstrapclass = "is-invalid"
       else
         bootstrapclass = ""
       end
    %>

    <%= form.text_field :email, :class => "form-control " + bootstrapclass, :placeholder => :email %>

    <% if user.errors.include?(:email) %>
      <% user.errors.full_messages_for(:email).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :picture %>

    <% if user.errors.include?(:picture)
         bootstrapclass = "is-invalid"
       else
         bootstrapclass = ""
       end
    %>

    <%= form.url_field :picture, :class => "form-control " + bootstrapclass, :placeholder => :picture %>

    <% if user.errors.include?(:picture) %>
      <% user.errors.full_messages_for(:picture).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :password %>

    <% if user.errors.include?(:password)
         bootstrapclass = "is-invalid"
       else
         bootstrapclass = ""
       end
    %>

    <%= form.password_field :password, :class => "form-control " + bootstrapclass, :placeholder => :password %>

    <% if user.errors.include?(:password) %>
      <% user.errors.full_messages_for(:password).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>

    <% if user.errors.include?(:password_confirmation)
         bootstrapclass = "is-invalid"
       end
    %>

    <%= form.password_field :password_confirmation, :class => "form-control " + bootstrapclass, :placeholder => :password_confirmation %>

    <% if user.errors.include?(:password_confirmation) %>
      <% user.errors.full_messages_for(:password_confirmation).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <%= link_to 'Cancel', users_path, :class => "btn btn-outline-secondary" %>
    </div>
    <div class="col-6 text-right">
      <div class="form-group">
        <%= form.submit button_text, :class => "btn btn-info" %>
      </div>
    </div>
  </div>
<% end %>





