<div class="col-9 p-0">
  <h5>Editing User</h5>
</div>
<div class="col-9">
  <div class="row bg-white">
    <div class="col-12 p-3">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
