<!--<div class="alert" id="notice"><%#= notice %></div>-->
<div class="col-9 p-0 mb-1">
  <div class="row">
    <div class="col-auto p-0">
      <h5>Users</h5>
    </div>
    <div class="col text-right">
      <%= link_to '<i class="fas fa-user-plus"></i>'.html_safe, new_user_path, :class => "btn btn-sm btn-outline-info" %>
    </div>
  </div>
</div>
<div class="col-9 p-0">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-4">
        <div class="card">
          <img  class="card-img-top" src="<%= user.picture %>" alt="">
          <div class="card-body">
            <h5><%= user.name %></h5>
            <p class="mb-0"><%= user.email %></p>
            <small>Followers : <b><%= user.following.count %></b></small>
            <div class="text-right">
              <%= link_to 'Show', user, :class => "btn btn-outline-info" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>