<div class="col-9">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <%# if error %>
  <!--    <div class="alert alert-danger alert-dismissible fade show" role="alert">-->
  <%#= error %>
  <!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
  <!--        <span aria-hidden="true">&times;</span>-->
  <!--      </button>-->
  <!--    </div>-->
  <%# end %>
  <div class="row">
    <div class="col-12 p-0 mb-3">
      <div class="col-2">
        <img src="<%= @user.picture %>" alt="" class="img-fluid rounded ">
      </div>
      <h5><%= @user.name %></h5>
      <h6 class="text-secondary"><%= @user.email %></h6>
      <small class="">Followers : <b><%= @user.following.count %></b></small>
      <small class="">Follows : <b><%= @user.followers.count %></b></small>
      <div class="text-right">
        <%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, edit_user_path(@user), :class => "btn btn-outline-secondary" %>
        <br>
        <%= link_to 'My Tweets', user_tweets_path(@user), :class => 'btn btn-sm btn-info mt-2' %>
      </div>
    </div>
  </div>

  <div class="row bg-white">
    <div class="col-12 p-3">
      <h5 class="text-center">Followers Tweets</h5>
      <% if @followers_tweets.count > 0 %>
        <%= render @followers_tweets %>
      <% else %>
        <p>Your follows have no tweets!</p>
      <% end %>
      <%= link_to 'Back', users_path, :class => "btn btn-outline-secondary mt-2" %>
    </div>
  </div>
  <div class="row bg-white">
    <div class="col-12 p-3">
      <h5>Follows</h5>
      <% @users.each do |user| %>
        <% if user.id != @user.id %>
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <%= link_to user.name, user %>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
              <% if user.following?(@user) %>
                <%= form_tag({controller: "follows", action: "destroy"}, method: "delete") do %>
                  <input type="hidden" name="user_id" value="<%= @user.id %>">
                  <input type="hidden" name="following_user_id" value="<%= user.id %>">
                  <input type="submit" value="Unfollow" class="btn btn-sm btn-outline-secondary mt-0">
                <% end %>
              <% else %>
                <%= form_tag(controller: "follows", action: "create") do %>
                  <input type="hidden" name="user_id" value="<%= @user.id %>">
                  <input type="hidden" name="following_user_id" value="<%= user.id %>">
                  <input type="submit" value="Follow" class="btn btn-sm btn-outline-secondary mt-0">
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

