<div class="col-9">
  <div class="row bg-white">
    <div class="col-12 p-3">
      <% if @hash_tag.tweets.count > 0 %>
        <% @hash_tag.tweets.each do |tweet| %>
          <% tweet.hash_tags.each do |hashtag| %>
            <% tweet.body.sub! hashtag.name, link_to( hashtag.name,hash_tag_path(hashtag), :class => "text-info") %>
          <% end %>
          <div class="card mb-3">
            <div class="card-body">
              <%= simple_format(tweet.body, :class => "mb-0") %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>You have no tweets!</p>
      <% end %>
      <%= link_to 'Back', :back, :class => "btn btn-outline-secondary mt-2" %>
    </div>
  </div>
</div>


