<!DOCTYPE html>
<html>
<head>
  <title>Twitter Like</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js" integrity="sha384-qD/MNBVMm3hVYCbRTSOW130+CWeRIKbpot9/gR1BHkd7sIct4QKhT1hOPd+2hO8K" crossorigin="anonymous"></script>
</head>

<body class="bg-light">


<nav class="navbar navbar-expand-lg navbar-dark bg-info">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "Twitter", root_path , :class => "navbar-brand" %>
      </li>
    </ul>
  </div>
</nav>

<div class="container pt-3">
  <div class="row">
    <%= yield %>
    <div class="col-3">
      <div class="bg-white p-3">
        <div class="row border-bottom">
          <div class="col">
            <h5>Last tweets</h5>
          </div>
        </div>

        <% Tweet.order('created_at DESC').take(4).each do |tweet| %>
          <% tweet.hash_tags.each do |hashtag| %>
            <% tweet.body.sub! hashtag.name, link_to( hashtag.name,hash_tag_path(hashtag), :class => "text-info") %>
          <% end %>
          <div class="row border-bottom">
            <div class="col pt-1">
              <b><%= link_to(tweet.user.name, user_path(tweet.user), :class => "")  %></b>
              <p><%= simple_format(tweet.body) %></p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="bg-white p-3 mt-3">
        <div class="row">
          <div class="col">
            <div class="row border-bottom">
              <div class="col">
                <h5>Popular Hashtag</h5>
              </div>
            </div>

            <% @hash_tags.all.each do |hashtag| %>
              <div class="row border-bottom">
                <div class="col pt-1">
                  <%= link_to( hashtag.name,hash_tag_path(hashtag), :class => "text-info")  %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
